body {
    background-color: #b3ffff;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    text-align: center;
}

.top {
    height: 150px; 
    background: linear-gradient(90deg, #4ecdc4, #556270);
}

div {
    color: #333;
}

h1, h2 {
    color: #333;
    
}

body{ background: linear-gradient(margin-bottom, #333399);
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 2px solid #333;
    padding: 20px; 
    width: 300px; 
    margin: 0 auto; 
    border-radius: 10px;
    background-color: #f9f9f9; 
}

form label, 
form input, 
form select, 
form button {
    width: 100%; /* semua elemen full width di form */
    margin-bottom: 10px; /* jarak antar elemen */
}

form label {
    margin-top: 20px;
}

form input, form select {
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
h1 {
    margin-top: 100px;
}

table {
    background-color: #f9f9f9;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 8px;
    text-align: left;
}